%h1 Stock Price Lookup
=form_for :stock do |f|
  .field
    = f.label "Please Enter Ticker: "
  .field
    = f.text_field :ticker
  .actions
    = f.submit "Get Quote"





%p=link_to "Enter Ticker", new_stock_price_path

